openapi: 3.2.0
info:
  title: EvolutionaryScale Forge Folding MSA API
  description: Hosted folding and inverse-folding inference for protein structure tasks. `fold` predicts protein backbone coordinates plus pLDDT and PTM confidence from an amino acid sequence; `inverse_fold` designs candidate sequences consistent with a target structure. An `msa` endpoint fetches multiple sequence alignments that condition fold predictions for improved accuracy.
  version: 2024-08-01
  contact:
    name: EvolutionaryScale Forge
    url: https://forge.evolutionaryscale.ai
  license:
    name: Cambrian Inference Clickthrough License Agreement
    url: https://www.evolutionaryscale.ai/policies/cambrian-inference-clickthrough-license-agreement
servers:
- url: https://forge.evolutionaryscale.ai
  description: EvolutionaryScale Forge Production
security:
- BearerAuth: []
tags:
- name: MSA
  description: Fetch multiple sequence alignments used by structure predictors.
paths:
  /api/v1/msa:
    post:
      summary: Fetch Multiple Sequence Alignment
      description: Fetch a multiple sequence alignment (MSA) for the input sequence. The MSA can be passed into subsequent fold calls to improve accuracy.
      operationId: msa
      tags:
      - MSA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSARequest'
      responses:
        '200':
          description: MSA returned in A3M format and as a parsed list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSAResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error returned by the Forge API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    MSAResponse:
      type: object
      properties:
        a3m:
          type: string
          description: MSA in A3M format.
        sequences:
          type: array
          items:
            type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            code:
              type: string
    MSARequest:
      type: object
      required:
      - sequence
      properties:
        sequence:
          type: string
          example: MKTAYIAKQRQISFVKAHFSRQLEERLGLIEVQ
        max_depth:
          type: integer
          default: 256
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Forge API token issued via forge.evolutionaryscale.ai.
